*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
:root {
  --bg-color: rgba(255, 255, 255, 1);
  --font-1: "Roboto", sans-serif;
  --font-2: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css reset */
body {
  width: 1300px;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 460px;
  height: 270px;
  margin-top: 205px;
  margin-left: 70px;
  margin-bottom: 360px;
}
.secwriteup {
  display: none;
}
.right {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  display: flex;
  padding: 40px;
  width: 580px;
  height: 679px;
  margin-top: 81px;
  margin-right: 80px;
  margin-bottom: 80px;
  border-radius: 6px;
}
.left img {
  position: relative;
  left: -6px;
  top: -3px;
  width: 77.33px;
  height: 80px;
  padding: 0px;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-1);
  color: rgb(75, 0, 0);
  line-height: 50px;
  margin-top: 20px;
}
.writeup {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
}
form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

input,
select {
  width: 238px;
  height: 48px;
  margin-top: 8px;
  padding: 14px 16px;
  border: 1px solid rgb(216, 216, 216);
  font-weight: 300;
  font-size: 14px;
  color: rgba(115, 115, 115, 1);
  line-height: 20px;
  border-radius: 2px;
}
.input-container {
  width: 238px;
  height: 72px;
}
:not(:first-of-type):not(:nth-of-type(2)).input-container {
  margin-top: -20px;
}
.bottom {
  width: 500px;
  height: 72px;
}
input {
  font-family: var(--font-1);
}
label {
  font-size: 14px;
  font-weight: 600;
  size: 14px;
  line-height: 14px;
  font-family: sans-serif;
}
#activityLevel,
#password {
  width: 500px;
  height: 48px;
}
.register {
  width: 500px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-1);
  background-color: rgba(46, 196, 182, 1);
  border: none;
  color: white;
 transition: background-color 0.3s, transform 0.9s;
}
.register:hover {
   background-color: rgb(15, 158, 144);
  transform: scale(1.01);
}
.privacy {
  text-align: center;
  width: 463px;
  height: 25px;
  margin-left: 8px;
  margin-right: 9px;
  margin-bottom: 0px;
  font-weight: 500;
  size: 10px;
  line-height: 25px;
}
.secprivacy {
  display: none;
}
.showimg {
  width: 16px;
  height: 16px;
  position: relative;
  top: -32px;
  right: -470px;
  cursor: pointer;
  color: black;
}
.showimg:hover {
  background-color: rgb(199, 199, 199);
}
.passworderr,
.firstnamerr {
  font-size: 12px;
  color: rgb(206, 0, 0);
  font-family: var(--font-1);
  font-weight: 300;
}
.firstnamerr  {
  font-size: 10px;
}
.passworderr{
margin-top: -15px;
}
@media screen and (max-width: 500px) {
  body {
    width: 375px;
    height: 1294px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left {
    width: 327px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
  }
  .right {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 24px;
    width: 90%;
    height: 870px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 138px;
    margin-top: -70px;
    border-radius: 6px;
  }
  .left img {
    position: relative;
    left: -6px;
    top: -3px;
    width: 38.67px;
    height: 40px;
    margin: 0;
  }
  .heading {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-1);
    color: rgba(0, 11, 10, 1);
    line-height: 29.4px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .writeup {
    display: none;
  }
  .secwriteup {
    display: block;
    color: rgba(115, 115, 115, 1);
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font-1);
    text-align: left;
    margin-top: -5px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--font-2);
    height: 780px;
    width: 327px;
  }
  #activityLevel,
  #password {
    width: 295px;
    height: 72px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 72px;
  }
  .input-container {
    width: 295px;
    height: 72px;
  }
  input,
  select {
    width: 295px;
    height: 48px;
    margin-top: 8px;
    padding: 14px 16px;
    line-height: 20px;
  }
  .register {
    width: 295px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font-2);
    color: white;
    background-color: rgba(46, 196, 182, 1);
    border: none;
  }
  .privacy {
    display: none;
  }
  .secprivacy {
    display: block;
    text-align: center;
    width: 316px;
    height: 50px;
    margin-left: 30px;
    margin-right: 29px;
    margin-top: -120px;
    margin-bottom: 64px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
  }
  :not(:first-of-type):not(:nth-of-type(2)).input-container {
    margin-top: -10px;
  }
  .showimg {
    position: relative;
    left: 270px;
  }
  .showimg:hover {
    background-color: rgb(199, 199, 199);
  }
}
